* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: burlywood;
}
p {
  font-size: 1.25rem;
  margin: 10px 0;
  max-width: 600px;
  text-align: center;
}
.nav a {
  font-size: 2em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-decoration: none;
}

.draws {
  margin: 40px auto 20px auto;
  max-width: 100%;
}
h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
}
h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-decoration: underline;
  margin-top: 50px;
  text-align: center;
}
h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}
.header {
  padding-left: 40px;
  height: 500px;
  width: 100%;
  background-image: url("../img/background-header.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: -190px;
  color: aliceblue;
}

.logo {
  background-color: black;
  border-radius: 50%;
  padding-top: 15px;
  margin-bottom: 15px;
  max-width: 250px;
  height: 40%;
  display: flex;
  position: relative;
  top: 5%;
  flex-direction: column;
  justify-content: space-around;
}
.logo div {
  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}
.logo img {
  border-radius: 10%;
}
.nav {
  position: relative;
  float: right;
  bottom: 110px;
  margin-right: 4%;
  font-weight: bold;
  list-style-type: none;
  text-decoration: underline;
}

.intro {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.text {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.text p {
  margin: 10px auto;
  justify-self: center;
}

.image {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.image img {
  border-radius: 5%;
}
.intro img {
  max-width: 600px;
  max-height: 350px;
}

.testimony {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimony p {
  padding: 20px;
  border: 1px solid black;
  font-style: italic;
  max-width: 450px;
}

.path {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.path img {
  max-width: 450px;
  max-height: 400px;
}

.path p {
  max-width: 450px;
}

.path .item {
  padding: 30px;
}

.path .item1,
.item3 {
  margin: auto;
}
figcaption {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.white {
  text-decoration: underline;
  color: antiquewhite;
  max-height: 200px;
  text-align: left;
}

.drawings {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.draw {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.draws {
  margin-top: 70px;
}
.draw1 {
  border: 1px solid black;
  margin-top: 30px;
  padding: 10px;
  height: 480px;
  width: 45%;
  background-image: url(../img/drawing.jpg);
  background-size: cover;
  background-position: center;
}
.draw2 {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
  height: 400px;
  width: 15%;
  background-image: url(../img/drawing2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.draw3 {
  border: 1px solid black;
  margin-top: 30px;
  height: 480px;
  padding: 10px;
  width: 45%;
  background-image: url(../img/drawing3.jpg);
  background-size: cover;
  background-position: center;
}

.drawings img {
  max-width: 400px;
  max-height: 400px;
}
.drawings p {
  height: 50px;
  width: 100%;
}

footer {
  color: aliceblue;
  background-color: black;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100px;
}
